.commonForm.ant-form-large .ant-form-item-label > label {
    height: auto;
}

.ant-modal.imageModal .ant-modal-body {
    background: #ccc;
    text-align: center;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    z-index: 1;
    position: sticky;
    left: 0;
    top: 0;
    background: #FAFAFA;
    border-bottom: 1px solid #d9d9d9;
}

.ant-collapse-content {
    border-top: none;
}