.commonForm.ant-form-large .ant-form-item-label > label {
    height: auto;
}

.ant-modal.imageModal .ant-modal-body {
    background: #ccc;
    text-align: center;
    padding: 20px;
}

.ant-collapse.stickyCollapse {
    border-radius: 0;
}

.ant-collapse.stickyCollapse > .ant-collapse-item > .ant-collapse-header {
    z-index: 1;
    position: sticky;
    left: 0;
    top: 0;
    background: #f1f1f1;
}
.ant-collapse.stickyCollapse.is-dark
    > .ant-collapse-item
    > .ant-collapse-header {
    background: #0a0a0a;
}

.ant-page-header {
    padding-top: 20px;
    padding-bottom: 32px;
}
